type: "MARKDOWN_NOTE"
folder: "c58e0363657feb4ddb8a"
title: "Master Tips"
content: '''
  # Master Tips
  
  > Always, always, always favor **readability**.  If it is a bottleneck to perf come back and fix it later
'''
tags: []
isStarred: false
createdAt: "2017-07-27T03:34:07.017Z"
updatedAt: "2017-07-27T03:35:33.611Z"
